@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");

$bgcolor: #512888;
$green: #32edd4;
$font: "Poppins", sans-serif;

@mixin flex($direction, $property1, $property2) {
  display: flex;
  flex-direction: $direction;
  justify-content: $property1;
  align-items: $property2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  @include flex(column, center, center);
  background-color: #2d0d57;
}

nav {
  background-color: #0c021a;
  @include flex(row, space-around, center);
  padding: 5px;
  width: 100%;

  .head-content {
    @include flex(row, center, center);
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }

    span {
      font-size: 25px;
      color: #32edd4;
      font-family: $font;
      font-weight: 700;
    }
  }

  ul {
    @extend .head-content;
    li {
      padding: 10px 20px;

      a {
        font-family: $font;
        color: $bgcolor;
        text-decoration: none;

        &:hover {
          color: #32edd4;
        }
      }
    }
  }

  button {
    padding: 8px 20px;
    background-color: $bgcolor;
    border: 0px;
    font-size: 20px;
    border-radius: 5px;
    font-family: $font;
    font-weight: 600;
    transition: all 0.6s ease;
    &:hover {
      background-color: #32edd4;
    }
  }
}

.hero-section {
  @include flex(column, center, center);
  height: 100vh;
  .wrap-content {
    @include flex(row, center, center);
    width: 80vw;
    img {
      width: 300px;
      height: 300px;
    }
    .content {
      margin-left: 20px;
      h1 {
        font-family: $font;
        font-weight: 600;
        color: #0ec2aa;
      }

      p {
        font-family: $font;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }

  .hero-footer {
    @include flex(row, center, center);
    img {
      width: 30px;
      height: 30px;
    }
  }
}

#about-section {
  background-color: #0c021a;
  width: 100vw;
  height: 100vh;
  @include flex(row, center, center);

  .about-content {
    width: 50vw;

    h1 {
      font-family: $font;
      color: #0ec2aa;
    }
    p {
      font-family: $font;
      color: #512888;
    }
  }
  img {
    width: 300px;
    height: 300px;
  }
}

#contact-section {
  @include flex(row, center, center);

  form {
    @include flex(column, center, center);
    row-gap: 10px;
    input,
    textarea {
      width: 100%;
      border: 2px solid #0c021a;
      background: #0c021a;
      color: #32edd4;
      font-family: $font;
      padding: 5px;
    }

    button {
      width: 100%;
      font-family: $font;
      background-color: #0ec2aa;
      border: none;
      padding: 5px;
    }
  }
}
